<p id="notice"><%= notice %></p>
<div class="pull-right">
	<h4>
		<%= link_to 'Back', transactions_path %>
	</h4>
</div>

<p>
  <strong>Account Nmber:</strong>
  <%= @transaction.account_number %>
</p>

<p>
  <strong>Account holder name:</strong>
  <%= @transaction.account_holder_name %>
</p>
 
<p>
  <strong>Price:</strong>
  Rs. <%= @transaction.price %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @transaction.msg %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user.email %>
</p>

<%#= link_to 'Edit', edit_transaction_path(@transaction) %> 